@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
img {
  max-width: 100%;
}

.nav__list {
  list-style: none;
}

.phone--container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.phone {
  grid-column: 3 / span 8;
  grid-row: 1;
  z-index: 1;
  padding-left: 4%;
}

.phone__bg {
  position: relative;
  max-width: 1440px;
  grid-column: 3 / span 8;
  top: -100%;
}

.recommendation__bubble {
  min-height: 82%;
  border: 2px solid #d69e2e;
  display: inline-block;
}

.recommendation__bubble::before {
  content: "";
  position: relative;
  border: 10px solid transparent;
  border-top-color: #d69e2e;
  border-bottom: 0;
  top: 18.6rem;
}

.yellow-card {
  position: relative;
  min-height: 32rem;
  width: 100%;
}

.contact-form {
  overflow: hidden;
  width: 90%;
  position: absolute;
  top: 4%;
  left: 5%;
  padding: 2rem;
}

@media (min-width: 1024px) {
  .yellow-card {
    position: absolute;
    min-height: 40rem;
    max-height: 816px;
    width: 100%;
    top: 0;
    left: 3%;
  }
  .contact-form {
    top: 15%;
    width: 70%;
    margin-left: 10rem;
    position: absolute;
    left: -15%;
  }
}
