@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
img {
  max-width: 100%;
}

.nav__list {
  list-style: none;
}

.phone--container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.phone {
  grid-column: 3 / span 8;
  grid-row: 1;
  z-index: 1;
  padding-left: 4%;
}

.phone__bg {
  position: relative;
  max-width: 1440px;
  grid-column: 3 / span 8;
  top: -100%;
}

.recommendation__bubble {
  min-height: 82%;
  border: 2px solid #d69e2e;
  display: inline-block;
}

.recommendation__bubble::before {
  content: "";
  position: relative;
  border: 10px solid transparent;
  border-top-color: #d69e2e;
  border-bottom: 0;
  top: 18.6rem;
}
